body{overflow-x: hidden}

#map-div {
    height:416px;
    background-color: #edf8ff;
}

#map {
    height: 340px;
}

#gender-chart-div {
    height:416px;
    background-color: #edf8ff;
}

.states path.active {
    fill: orange;
}
/* .powderblue {
    background-color: powderblue;
} */
#ethnicity-chart{
    min-height: 200px;
}

.vertical-align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.states {
    fill:   #7692FF;
    stroke: #091540;
    stroke-linejoin: round;
}

.selectedState {
    fill:   rgb(49, 21, 75);
    stroke: #091540;
    stroke-linejoin: round;
}

path:hover {
    fill-opacity: .7;
    fill: #091540;
}

/* Style for Custom Tooltip */
div.tooltip {
    position: absolute;
    text-align: center;
    /*min-width: 15px;*/
    max-width: 80px;
    min-height: 25px;
    padding: 2px;
    font: 16px sans-serif;
    background: black;
    color: #edf8ff;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
}


.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 15px;
    padding-right: 2px;
    padding-bottom: 2px;
}

input[type="checkbox"]#aggregate-toggle:checked + span {
    border-color: blue;
    background-color:yellow;
}