body{overflow-x: hidden}

#map {
    min-height: 450px;
    background-color: #edf8ff;
}

#gender-chart {
    min-height: 200px;
    background-color: orange;
}

.powderblue {
    background-color: powderblue;
}
#ethnicity-chart{
    min-height: 200px;
    
}

.vertical-align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.states {
    fill:   #7692FF;
    stroke: #091540;
    stroke-linejoin: round;
}

path:hover {
    fill-opacity: .7;
    fill: #091540;
}

/* Style for Custom Tooltip */
div.tooltip {
    position: absolute;
    text-align: center;
    /*min-width: 15px;*/
    max-width: 80px;
    min-height: 25px;
    padding: 2px;
    font: 12px sans-serif;
    background: black;
    color: #edf8ff;
    border: 0px;
    border-radius: 4px;
    pointer-events: none;
}